@font-face {
	font-family: "Diagram Cases";
	src: url("/DiagramCases.woff2");
}

@font-face {
	font-family: "Diagram Smart";
	src: url("/DiagramSmart.woff2");
}

@font-face {
	font-family: "Work Sans";
	src: url("/WorkSans.ttf");
}
