@import url("fonts.css");
@import url("reset.css");
@import url("container.css");

:root {
	font-family: "Work Sans", sans-serif;
	--diagram-font: "Diagram Smart";
	--diagram-color: #000;
}

#app {
	background-color: var(--p-surface-100);
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
}

h2 {
	margin-bottom: 1rem;
}

a:hover {
	color: var(--p-cyan-500);
}

section {
	margin-bottom: 2rem;
}

footer {
	margin-top: auto;
}
