@import url("fonts.css");
@import url("reset.css");
@import url("container.css");

:root {
	font-family: "Work Sans", sans-serif;
	--diagram-font: "Diagram Cases";
	--diagram-light: var(--p-surface-200);
	--diagram-dark: var(--p-surface-400);
}

body {
	background-color: var(--p-surface-100);
}

#app {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
}

h2 {
	margin-bottom: 1rem;
}

a:hover {
	color: var(--p-sky-500);
}

section {
	margin-bottom: 2rem;
}

footer {
	margin-top: auto;
}

.percent::after {
	content: "%";
	vertical-align: top;
	font-size: 0.5em;
	margin-left: 0.2em;
	opacity: 0.5;
}
