@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
	font-family: "Diagram Cases";
	src: url("/DiagramCases.woff2");
}

@font-face {
	font-family: "Diagram Smart";
	src: url("/DiagramSmart.woff2");
}

:root {
	--diagram-font: "Diagram Smart";
	--diagram-color: #000;
	--diagram-border: #666 solid 2px;

	font-family: "Work Sans", sans-serif;
}
