@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: "Diagram Cases";
	src: url("/DiagramCases.woff2");
}

@font-face {
	font-family: "Diagram Smart";
	src: url("/DiagramSmart.woff2");
}

:root {
	font-family: "Work Sans", sans-serif;
	box-sizing: border-box;
}

html-diagram {
	--diagram-font: "Diagram Cases";
	--diagram-color: var(--p-surface-950);
	--diagram-border: solid 5px var(--p-surface-700);
}

.container {
	max-width: 840px;
	margin-inline: auto;
}

section + section {
	margin-top: 1rem;
}
